section {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.skills {
    display: flex;
    width: 50%;
    flex-direction: column;

}

.intro {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    gap: 12px;
    margin: auto;
    margin-left: 150px;
    margin-top: 100px;

}

.intro p {
    width: 402px;
}

.connect {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 50%;
    width: 100%;
    margin-left: 300px;
}

.skills {
    margin-top: 88px;
    margin-left: 300px;
}

.connect i a {
    text-decoration: none;
    color: antiquewhite;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 600;
    font-style: oblique;
}

.connect i a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 990px) {
    body {
        height: 1100px;

    }

    section {
        flex-direction: column;
    }


    .intro {
        margin-top: 40px;
        margin-left: 20px;
        width: 100%;
    }

    .connect {
        margin-left: 47px;
        width: 100%;
    }

    .skills {
        margin-left: 20px;
        width: 100%;
    }

    .bodyheight {
        height: 1400px;
    }
}